* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", box-sizing;
  color: #2a2a2a;
}
body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top right, #ccffff, #ffffcc);
}
header {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  width: 50%;
  height: 110px;
}
input {
  padding: 0.5em 1em;
  border: none;
  background: #2a2a2a;
  border-radius: 5px;
  color: #fff;
  outline: none;
  font-size: 1em;
}
input::placeholder {
  color: #fff;
}
.container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em 0;
}
@media only screen and (min-width: 800px) {
  .logo {
    height: 200px;
    width: 30%;
  }
  input {
    font-size: 1em;
  }
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1800px) {
  .logo {
    width: 20%;
  }
  .container {
    grid-template-columns: repeat(5, 1fr);
  }
}
