* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", box-sizing;
  color: #2a2a2a;
}
body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top right, #ccffff, #ffffcc);
  padding: 0 2em;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  min-width: 200px;
  min-height: 110px;
  max-width: 280px;
  max-height: 150px;
}
input {
  padding: 0.5em 1em;
  border: none;
  background: #2a2a2a;
  border-radius: 5px;
  color: #fff;
  outline: none;
  font-size: 1em;
}
input::placeholder {
  color: #fff;
}
.container {
  width: 100%;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-gap: 1em;
  place-items: center;
  margin-top: 2em;
}
.scroll-up {
  position: fixed;
  bottom: 2px;
  right: 2px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #2a2a2a;
  display: grid;
  place-items: center;
}
.scroll-up * {
  color: #fff;
}
.arrow {
  font-size: 1em;
}
@media only screen and (min-width: 800px) {
  .logo {
    height: 200px;
    width: 30%;
    transform: translateY(10px);
  }
  input {
    font-size: 1em;
  }
  .scroll-up {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    background: #2a2a2a;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    place-items: center;
  }
  .scroll-up * {
    color: #fff;
  }
  .arrow {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1800px) {
  .logo {
    width: 20%;
  }
}
