.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.desc {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pokemon-name {
  background: #2a2a2a;
  color: #fff;
  padding: 0.2em 1em;
  margin-bottom: 2px;
  font-size: 1.5em;
  text-align: center;
  width: 80%;
}
.pokemon-type {
  font-size: 15px;
  text-align: center;
}
.image-container {
  width: 100%;
  height: 80%;
  display: grid;
  place-items: center;
}
.pokemon-image {
  transition: all 0.2s linear;
  transform: scale(0.9);
}
.pokemon-image:hover {
  transform: scale(0.95);
}
@media only screen and (min-width: 800px) {
  .card-container {
    padding: unset;
    width: 100%;
    height: 500px;
  }
  .desc {
    height: 10%;
  }
  .pokemon-name {
    width: 100%;
    font-size: 1.2em;
  }
  .pokemon-type {
    font-size: 1em;
  }
  .pokemon-image:hover {
    transform: scale(1.01);
  }
}
@media only screen and (min-width: 1800px) {
  .card-container {
    width: 100%;
  }
  .pokemon-type {
    font-size: 1.2em;
  }
  .pokemon-image:hover {
    transform: scale(1.05);
  }
}
